<nav
  class="navbar navbar-default navbar-fixed-top my-nav"
  role="banner"
  aria-label="主导航"
  ng-controller="topCtrl"
  ng-if="hideTopNav"
>
  <form class="navbar-form navbar-right">
    <div class="form-inline form-group">
      <a
        href=""
        ng-click="showSettings()"
        style="text-decoration: none; font-weight: bold; color: #ccc;"
      >
        <i class="fa fa-cog"></i>
        {{'settings'|translate}}
      </a>
      <a
        href=""
        ng-click="showAbout()"
        style="text-decoration: none; font-weight: bold; color: #ccc;"
      >
        <i class="fa fa-about"></i> {{'about'|translate}}
      </a>
      &nbsp;&nbsp;
    </div>
  </form>
</nav>

<div class="top-nav-spacer clearfix" ng-if="hideTopNav"></div>
