<div class="files-page">
  <div ng-include="'main/files/_/address-bar.html'"></div>

  <div
    class="files-page-body"
    ng-class="{'is-bucket-list': ref.isBucketList, 'is-file-list': !ref.isBucketList}"
  >
    <div ng-if="ref.isBucketList">
      <div ng-include="'main/files/_/bucket-toolbar.html'"></div>
    </div>
    <div ng-if="!ref.isBucketList">
      <div ng-include="'main/files/_/file-toolbar.html'"></div>
    </div>

    <div
      class="file-list-box mac-scroll file-list-box--upload file-list-box--objects"
      ng-if="!ref.isBucketList"
      drop-zone="handlerDrop"
      bottom-loader="loadNext()"
    >
      <div ng-show="isLoading" is-loading></div>

      <section ng-hide="isLoading" class="file-list-section page-content">
        <div
          ng-include="'main/files/_/file-list.html'"
          class="file-list-inner"
          id="file-list"
        ></div>
      </section>

      <div
        ng-hide="isLoading"
        class="file-list-drop-spacer"
        aria-hidden="true"
      ></div>
    </div>

    <div class="file-list-box mac-scroll file-list-box--bucket" ng-if="ref.isBucketList">
      <div ng-show="isLoading" is-loading></div>

      <section ng-hide="isLoading" class="file-list-section page-content">
        <div
          ng-include="'main/files/_/bucket-list.html'"
          class="file-list-inner"
        ></div>
      </section>
    </div>
  </div>

  <div ng-include="'main/files/transfer/frame.html'"></div>
</div>
