<section ng-controller="transferFrameCtrl">
  <div
    ng-hide="transVisible"
    class="trans-dock-btn"
    ng-class="{
      'is-idle': totalNum.total==0,
      'is-busy': totalNum.running>0
    }"
  >
    <button
      type="button"
      class="trans-dock-link"
      ng-click="toggleTransVisible(true);transTab = 1"
    >
      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      <span>{{totalNum.upDone}}/{{lists.uploadJobList.length}}</span>
    </button>
    <button
      type="button"
      class="trans-dock-link"
      ng-click="toggleTransVisible(true);transTab = 2"
    >
      <i class="fa fa-cloud-download" aria-hidden="true"></i>
      <span>{{totalNum.downDone}}/{{lists.downloadJobList.length}}</span>
    </button>
  </div>

  <div ng-show="transVisible" class="trans-frame" ng-init="transTab=1">
    <header class="trans-frame-header">
      <div
        class="trans-segmented"
        role="tablist"
        aria-label="{{'upload'|translate}} / {{'download'|translate}}"
      >
        <button
          type="button"
          role="tab"
          class="trans-segment-btn"
          ng-class="{'is-active': transTab==1}"
          ng-mousedown="$event.preventDefault()"
          ng-click="transTab=1"
          aria-selected="{{transTab==1}}"
        >
          <span class="trans-segment-label">{{'upload'|translate}}</span>
          <span class="trans-segment-count"
            >{{totalNum.upDone}}/{{lists.uploadJobList.length}}</span
          >
        </button>
        <button
          type="button"
          role="tab"
          class="trans-segment-btn"
          ng-class="{'is-active': transTab==2}"
          ng-mousedown="$event.preventDefault()"
          ng-click="transTab=2"
          aria-selected="{{transTab==2}}"
        >
          <span class="trans-segment-label">{{'download'|translate}}</span>
          <span class="trans-segment-count"
            >{{totalNum.downDone}}/{{lists.downloadJobList.length}}</span
          >
        </button>
      </div>

      <button
        type="button"
        class="trans-frame-close"
        ng-click="toggleTransVisible(false)"
        aria-label="Close"
      >
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </header>

    <div
      class="trans-frame-body"
      ng-if="transTab==1"
      ng-include="'main/files/transfer/uploads.html'"
    ></div>
    <div
      class="trans-frame-body"
      ng-if="transTab==2"
      ng-include="'main/files/transfer/downloads.html'"
    ></div>
  </div>
</section>
