<div ng-if="!isLoading && (!buckets || buckets.length==0)" no-data></div>

<div
  ng-if="!isLoading && buckets.length>0"
  class="table-card-wrap"
  context-menu="bucketSpacerMenuOptions"
  ng-click="toggleTransVisible(false);"
>
  <div class="table-card">
    <table class="table file-data-table bucket-data-table">
      <thead>
        <tr>
          <th class="col-index text-center">#</th>
          <th
            class="col-name sortable"
            ng-class="{'sort-active': tableSort.bucket.field === 'name'}"
            ng-click="sortBy('bucket', 'name')"
          >
            {{'bucket.name'|translate}}
            <i class="fa sort-indicator" ng-class="getSortIcon('bucket', 'name')"></i>
          </th>
          <th
            class="col-region sortable"
            ng-class="{'sort-active': tableSort.bucket.field === 'region'}"
            ng-click="sortBy('bucket', 'region')"
          >
            {{'region'|translate}}
            <i class="fa sort-indicator" ng-class="getSortIcon('bucket', 'region')"></i>
          </th>
          <th
            class="col-time sortable"
            ng-class="{'sort-active': tableSort.bucket.field === 'creationDate'}"
            ng-click="sortBy('bucket', 'creationDate')"
          >
            {{'creationTime'|translate}}
            <i
              class="fa sort-indicator"
              ng-class="getSortIcon('bucket', 'creationDate')"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="item in buckets | filter:{name: sch.bucketName} | orderBy:tableSort.bucket.field:tableSort.bucket.reverse"
          context-menu="bucketMenuOptions"
          ng-dblclick="goIn(item.name)"
          ng-click="selectBucket(item);"
          ng-class="{'selected':bucket_sel.item.name==item.name}"
        >
          <td class="col-index text-center">{{$index+1}}</td>
          <td class="col-name">
            <div class="bucket-cell">
              <i class="fa fa-database bucket-icon" aria-hidden="true"></i>
              <a
                href=""
                class="bucket-link"
                ng-click="goIn(item.name);$event.stopPropagation()"
              >
                {{item.name}}
              </a>
            </div>
          </td>
          <td class="col-region">{{item.region}}</td>
          <td class="col-time create-time">{{item.creationDate|timeFormat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
