<div class="address-bar" ng-controller="addressBarCtrl">
  <form ng-submit="go()" name="form1" class="address-bar-form">
    <div class="address-bar-nav" role="toolbar" aria-label="导航">
      <button
        class="icon-button"
        ng-disabled="!canGoBack"
        ng-click="goBack()"
        type="button"
        uib-tooltip="{{'backward'|translate}}"
        tooltip-placement="bottom"
        tooltip-append-to-body="true"
      >
        <i class="fa fa-arrow-left"></i>
      </button>
      <button
        class="icon-button"
        ng-disabled="!canGoAhead"
        ng-click="goAhead()"
        type="button"
        uib-tooltip="{{'forward'|translate}}"
        tooltip-placement="bottom"
        tooltip-append-to-body="true"
      >
        <i class="fa fa-arrow-right"></i>
      </button>
      <button
        class="icon-button"
        ng-click="goUp()"
        type="button"
        uib-tooltip="{{'goUp'|translate}}"
        tooltip-placement="bottom"
        tooltip-append-to-body="true"
      >
        <i class="fa fa-arrow-up"></i>
      </button>
      <button
        class="icon-button"
        ng-click="go(true)"
        type="button"
        uib-tooltip="{{'refresh'|translate}}"
        tooltip-placement="bottom"
        tooltip-append-to-body="true"
      >
        <i class="fa fa-refresh"></i>
      </button>
      <button
        class="icon-button"
        ng-disabled="address == getDefaultAddress()"
        ng-click="goHome()"
        type="button"
        uib-tooltip="{{'home'|translate}}"
        tooltip-placement="bottom"
        tooltip-append-to-body="true"
      >
        <i class="fa fa-home"></i>
      </button>
    </div>

    <input
      type="text"
      ng-model="address"
      class="form-control address-url"
      placeholder="oss://"
      aria-label="OSS 地址"
    />

    <button
      class="icon-button"
      ng-if="isShowSaveAsHome()"
      ng-disabled="address == getDefaultAddress()"
      ng-click="saveDefaultAddress()"
      type="button"
      uib-tooltip="{{'saveAsHome'|translate}}"
      tooltip-placement="bottom"
      tooltip-append-to-body="true"
    >
      <i class="fa fa-home"></i>
    </button>

    <div class="address-bar-meta" ng-controller="topCtrl">
      <button
        type="button"
        class="meta-button"
        ng-if="authInfo.id.indexOf('STS.')!=0"
        ng-click="showFavList()"
      >
        <i class="fa fa-list" aria-hidden="true"></i>
        <span>{{'bookmarks'|translate}}</span>
      </button>

      <span
        class="address-bar-privilege"
        ng-if="currentAuthInfo.privilege=='readOnly'"
      >
        {{'readonly'|translate}}
      </span>
      <span
        class="address-bar-privilege address-bar-privilege--write"
        ng-if="currentAuthInfo.privilege=='all'"
      >
        {{'readwrite'|translate}}
      </span>

      <div ng-include="'main/_/user-menu.html'"></div>
    </div>
  </form>
</div>
