<div ng-if="!isLoading && (!objects || objects.length==0)" no-data></div>

<div
  ng-if="!isLoading && objects.length>0"
  class="table-card-wrap"
  context-menu="fileSpacerMenuOptions"
  ng-click="toggleTransVisible(false);"
>
  <div class="table-card">
    <table class="table file-data-table objects-data-table">
      <thead>
        <tr>
          <th class="col-check text-center">
            <input
              type="checkbox"
              class="mac-checkbox"
              ng-model="sel.all"
              name="x-all"
              ng-change="selectAll()"
              aria-label="全选"
            />
          </th>
          <th
            class="col-name sortable"
            ng-class="{'sort-active': tableSort.file.field === 'name'}"
            ng-click="sortBy('file', 'name')"
          >
            {{'name'|translate}}
            <i class="fa sort-indicator" ng-class="getSortIcon('file', 'name')"></i>
          </th>
          <th
            class="col-size sortable"
            ng-class="{'sort-active': tableSort.file.field === 'size'}"
            ng-click="sortBy('file', 'size')"
          >
            {{'type'|translate}} / {{'size'|translate}}
            <i class="fa sort-indicator" ng-class="getSortIcon('file', 'size')"></i>
          </th>
          <th
            class="col-time sortable"
            ng-class="{'sort-active': tableSort.file.field === 'lastModified'}"
            ng-click="sortBy('file', 'lastModified')"
          >
            {{'lastModifyTime'|translate}}
            <i
              class="fa sort-indicator"
              ng-class="getSortIcon('file', 'lastModified')"
            ></i>
          </th>
          <th class="col-actions text-right">
            {{'actions'|translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="item in objects | orderBy:fileOrderBy():tableSort.file.reverse track by itemKey(item)"
          context-menu="fileMenuOptions(item, $index)"
          ng-class="{'selected': isObjectSelected(item), 'info': isObjectSelected(item)}"
        >
          <td class="col-check text-center">
            <input
              type="checkbox"
              class="mac-checkbox"
              ng-model="sel.x[item.path || item.name]"
              name="x"
              ng-click="onObjectCheckClick($event, item)"
              aria-label="选择 {{item.name}}"
            />
          </td>
          <td class="col-name">
            <div
              class="file-item-name"
              item-index="{{$index}}"
            >
              <span class="file-cell" ng-if="item.isFolder==true">
                <i class="fa fa-folder file-icon file-icon--folder"></i>
                <a
                  class="file-link"
                  ng-click="goIn(currentBucket,item.path);$event.stopPropagation()"
                  uib-tooltip-html="'<div class=\'break\'>'+item.name+'</div>'"
                  tooltip-placement="right"
                  tooltip-popup-delay="500"
                  tooltip-append-to-body="true"
                >
                  {{item.name|sub:50}}
                </a>
              </span>

              <span class="file-cell" ng-if="item.isFolder!=true">
                <i
                  class="fa fa-{{item|fileIcon}} file-icon"
                  ng-class="{'text-muted': item.storageClass=='Archive' && !item.storageStatus}"
                ></i>
                <a
                  class="file-link"
                  ng-click="showPreview(item);$event.stopPropagation()"
                  uib-tooltip-html="'<div class=\'break\'>'+item.name+'</div>'"
                  tooltip-placement="right"
                  tooltip-popup-delay="500"
                  tooltip-append-to-body="true"
                >
                  <span ng-class="{'text-muted': item.status=='uploading'}"
                    >{{item.name|sub:50}}</span
                  >
                </a>
                <span class="file-symlink" ng-if="item.type === 'Symlink'">
                  <object
                    width="14"
                    height="14"
                    data="./static/soft-link.svg"
                    type="image/svg+xml"
                    ng-mouseover="loadObjectSymlinkMeta(item)"
                    uib-tooltip-html="getSymlinkTooltipTpl(item)"
                    tooltip-append-to-body="true"
                    tooltip-popup-close-delay="2000"
                    tooltip-placement="right"
                  ></object>
                </span>
              </span>
            </div>
          </td>
          <td class="col-size">
            <span ng-if="item.isFolder==true" class="text-muted">
              {{'folder'|translate}}
            </span>
            <span ng-if="item.isFolder!=true" class="file-size">{{item.size|sizeFormat}}</span>
          </td>
          <td class="col-time create-time">
            {{item.lastModified|timeFormat}}
          </td>
          <td class="col-actions text-right">
            <span
              ng-if="item.isFolder==true && currentAuthInfo.id.indexOf('STS.')!=0"
            >
              <a
                href=""
                ng-click="favFolder(item);$event.stopPropagation()"
                ng-class="{'text-muted': isFavFolderItem(item), 'text-warning': !isFavFolderItem(item)}"
              >
                {{ (isFavFolderItem(item) ? 'unfavFolder' : 'favFolder') | translate }}
              </a>
              <span class="action-sep">|</span>
            </span>

            <span
              ng-if="!item.isFolder && (item.storageClass!='Archive' || item.storageStatus==3)"
            >
              <a
                href=""
                ng-click="showAddress(item);$event.stopPropagation()"
                class="text-info"
              >
                {{'getAddress'|translate}}
              </a>
              <span class="action-sep">|</span>
            </span>

            <span ng-if="item.storageClass!='Archive' || item.storageStatus==3">
              <a href="" ng-click="showDownload(item);$event.stopPropagation()">
                {{'download'|translate}}
              </a>
              <span class="action-sep">|</span>
            </span>

            <span
              ng-if="!item.isFolder && (item.storageClass=='Archive' && item.storageStatus!=3)"
            >
              <a href="" ng-click="showRestore(item);$event.stopPropagation()">
                {{'restore'|translate}}
              </a>
              <span class="action-sep">|</span>
            </span>

            <a href="" ng-click="showDeleteFiles([item]);$event.stopPropagation()" class="text-danger">
              {{'delete'|translate}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center clearfix pd2 file-load-more" ng-if="loadingNext">
      {{'loading.more'|translate}}
    </div>
  </div>
</div>
