<form class="settings-modal" name="form1" ng-submit="onSubmit(form1)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      <i class="fa fa-cog text-warning"></i>
      {{'settings'|translate}}
    </h4>
  </div>
  <div class="modal-body mac-scroll">
    <section class="settings-section">
      <h5 class="settings-section-title">{{'settings.subtitle.updown'|translate}}</h5>
      <div class="row settings-grid">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.maxUploadNum'|translate}}</label>
            <input
              type="number"
              name="maxUploadJobCount"
              ng-model="set.maxUploadJobCount"
              ng-change="setChange(form1,'maxUploadJobCount')"
              max="50"
              min="1"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.maxDownloadNum'|translate}}</label>
            <input
              type="number"
              name="maxDownloadJobCount"
              ng-model="set.maxDownloadJobCount"
              ng-change="setChange(form1,'maxDownloadJobCount')"
              max="50"
              min="1"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.connectTimeout'|translate}}</label>
            <input
              type="string"
              name="connectTimeout"
              ng-model="set.connectTimeout"
              ng-change="setChange(form1,'connectTimeout')"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.uploadPartSize'|translate}}</label>
            <input
              type="number"
              name="uploadPartSize"
              ng-model="set.uploadPartSize"
              ng-change="setChange(form1,'uploadPartSize')"
              max="100"
              min="5"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.downloadConcurrecyPartSize'|translate}}</label>
            <input
              type="number"
              name="downloadConcurrecyPartSize"
              ng-model="set.downloadConcurrecyPartSize"
              ng-change="setChange(form1,'downloadConcurrecyPartSize')"
              max="100"
              min="1"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.uploadAndDownloadRetryTimes'|translate}}</label>
            <input
              type="number"
              name="uploadAndDownloadRetryTimes"
              ng-model="set.uploadAndDownloadRetryTimes"
              ng-change="setChange(form1,'uploadAndDownloadRetryTimes')"
              max="20"
              min="3"
              required
              class="form-control input-sm"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="settings-section">
      <h5 class="settings-section-title">{{'settings.subtitle.sys'|translate}}</h5>
      <div class="row settings-grid">
        <div class="col-xs-4">
          <label class="settings-check-line">
            <input
              type="checkbox"
              name="showImageSnapshot"
              ng-model="set.showImageSnapshot"
              ng-change="setChange(form1,'showImageSnapshot')"
              ng-true-value="1"
              ng-false-value="0"
            />
            <span class="settings-check-text">
              <strong>{{'settings.WhetherShowThumbnail'|translate}}</strong>
              <small>{{'settings.WhetherShowThumbnail.msg'|translate}}</small>
            </span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="settings-check-line">
            <input
              type="checkbox"
              name="showSaveAsHome"
              ng-model="set.showSaveAsHome"
              ng-change="setChange(form1,'showSaveAsHome')"
              ng-true-value="1"
              ng-false-value="0"
            />
            <span class="settings-check-text">
              <strong>{{'settings.showSaveAsHome'|translate}}</strong>
              <small>{{'settings.showSaveAsHome.msg'|translate}}</small>
            </span>
          </label>
        </div>
      </div>
    </section>

    <section class="settings-section">
      <h5 class="settings-section-title">{{'settings.other'|translate}}</h5>
      <div class="row settings-grid">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label">{{'settings.other.list.object.max.number'|translate}}</label>
            <input
              type="number"
              name="listObjectNum"
              ng-model="set.listObjectNum"
              ng-change="setChange(form1,'listObjectNum')"
              max="1000"
              min="30"
              required
              class="form-control input-sm"
              placeholder="30-1000"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-xs" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      {{'close'|translate}}
    </button>
  </div>
</form>
